$gray33 = #243635
$gray66 = #405755
$gray99 = #6D8A88
$graycc = #A0BDBB
$graydd = #C0D7D5
$grayee = #E0F0EF
$grayfe = #F1F8F8
$yellow33 = #241F03
$yellow66 = #66530A
$yellow99 = #B0A311
$yellowcc = #D5D615
$yellowdd = #EBEA5E
$yellowee = #F5FCA5
$yellowfe = #F9FFD4
$orange33 = #2B1904
$orange66 = #7E3F0C
$orange99 = #B96712
$orangecc = #DC8516
$orangedd = #E9B64F
$orangeee = #F4DAA0
$orangefe = #FBF1DA
$brown33 = #231803
$brown66 = #483307
$brown99 = #815E0E
$browncc = #AF8321
$browndd = #DCBD79
$brownee = #E7D3AD
$brownfe = #F6F0DA
$green33 = #143004
$green66 = #26570A
$green99 = #469A13
$greencc = #69D227
$greendd = #81E243
$greenee = #B0F77F
$greenfe = #E1FFCC
$blue33 = #002029
$blue66 = #0A334F
$blue99 = #204F86
$bluecc = #346BA3
$bluedd = #72A3CE
$blueee = #97C8EF
$bluefe = #DAEFFE
$purple33 = #15091F
$purple66 = #331B3F
$purple99 = #583965
$purplecc = #71547A
$purpledd = #A883A8
$purpleee = #DCC3E3
$purplefe = #F9E3FE
$red33 = #230303
$red66 = #560908
$red99 = #93100F
$redcc = #B81412
$reddd = #DB3C3B
$redee = #EC9191
$redfe = #FAD1D0
